.home {
  //header elements
  .home-page-title {
    background-color: #5F259F;
    overflow: hidden; //to emcompass h1 bottom margin
    padding: rem-calc(10);
    text-align: center;
    h1 {
      color: $white;
      margin: 0;
      text-transform: uppercase;
      @include breakpoint('medium') {
        font-size: rem-calc(36);
        line-height: rem-calc(44);
      }
    }
  }

  @include breakpoint('medium') {
    .hero-container .small-12 {
      position: relative;
      overflow: hidden;
    }

    .home-page-title {
      background-color: transparent;
      bottom: 0;
      left: 0;
      overflow: visible;
      padding-bottom: 0;
      padding-right: 14%;
      padding-top: 0;
      position: absolute;
      text-align: right;
      top: 0;
      width: 60%;
      &:before {
        background-color: #5F259F;
        content: '';
        height: 200%;
        position: absolute;
        right: rem-calc(65);
        top: -55%;
        width: 200%;
        z-index: 1;

        -ms-transform: rotate(15deg); /* IE 9 */
        -webkit-transform: rotate(15deg); /* Chrome, Safari, Opera */
        transform: rotate(15deg);
      }
      h1 {
        display: inline-block;
        max-width: rem-calc(305);
        padding-top: 22%;
        position: relative;
        z-index: 2;
      }
    }
  }

  @include breakpoint('large') {
    .home-page-title {
      width: 50%;
      h1 {
        padding-top: 25%;
      }
    }
  }

  .offset-content {
    float: none;
    max-width: none;
    @include breakpoint('medium') {
      margin-left: auto;
      margin-right: auto;
      width: 80%;
    }
  }

  .component-sub-heading {
    text-align: center;
  }
}

.featured-events-list {
  margin-top: rem-calc(20);
  padding: 0;
  .event-item__text-content {
    margin-left: rem-calc(120);
  }

  .event-deadlines {
    h6 {
      margin-bottom: 0;
    }
    ul {
      li {
        margin-bottom: 0;
      }
    }

    @include breakpoint(500px) {
      h6,
      ul li {
        margin-bottom: rem-calc(8);
      }
    }
  }

  @include breakpoint('large') {
    margin-left: rem-calc(-10);
    margin-right: rem-calc(-10);
    .featured-event {
      padding: 0 rem-calc(10);
    }
    .event-header__thumbnail {
      float: none;
      margin: rem-calc(-5) auto rem-calc(20) auto;
    }
    .event-item__text-content {
      margin-left: 0;
      text-align: left;
    }
  }
}

.latest-news-list {
  margin-bottom: rem-calc(40);
  overflow: hidden;
  @include breakpoint(medium) {
    margin-left: rem-calc(-10);
    margin-right: rem-calc(-10);
  }
}

.latest-news-item {
  .content-item__visual {
    padding: 0;
  }
  .news-item__image {
    float: none;
    img {
      display: block;
      width: 100%;
    }
  }
  @include breakpoint('medium') {
    padding: 0 rem-calc(10);
  }
}

.front-newsletter-and-download {
    .row {
      padding: 0;
    }
  .component-newsletter,
  .component-download {
    @include breakpoint(large) {
      clear: none;
      float: left;
      width: 50%;
    }
  }

  .component-download {
    @include breakpoint(large) {
      text-align: center;

      .component-download__link {
        max-width: 80%;
        padding: rem-calc(40) 0;
        img {
          display: block;
          height: auto;margin-bottom: rem-calc(40);
          margin-left: auto;
          margin-right: auto;
          max-height: rem-calc(300);
          max-width: rem-calc(300);
          width: auto;
        }
        p {
          width: 100%;
          padding: 0 rem-calc(40);
        }
      }
    }
  }
}

//// Page header
//#front-hero {
//	.marketing {
//		@include grid-row();
//		max-width: 55rem;
//	}
//
//	@include breakpoint(small) {
//		background: url('../images/demo/hero-bg-foundation-6-small.svg') bottom center;
//		background-size: cover;
//		background-position: bottom;
//		padding: rem-calc(65%) 0;
//		margin: 0 0 rem-calc(32);
//		height: auto;
//		position: relative;
//		text-align: left;
//	}
//
//	@include breakpoint(medium) {
//		background: url('../images/demo/hero-bg-foundation-6-large.svg') bottom center;
//		background-size: cover;
//		background-position: center;
//		height: rem-calc(685);
//		margin: 0 0 rem-calc(72);
//	}
//
//	#watch {
//
//		@include breakpoint(small) {
//			@include grid-column(7);
//			@include grid-column-position(-5);
//		}
//
//		@include breakpoint(medium) {
//			@include grid-column(12);
//			@include grid-column-position(0);
//		}
//
//		section {
//			display: inline;
//		}
//
//		a {
//			color: #B4C9D1;
//			cursor: pointer;
//			font-weight: 400;
//			margin-right: rem-calc(20);
//		}
//
//		a:hover {
//			color: #fff;
//		}
//
//		#stargazers {
//			:before {
//				content: "\f09b";
//				font-family: FontAwesome;
//				font-style: normal;
//				font-weight: normal;
//				text-decoration: inherit;
//				color: #B4C9D1;
//				margin-right: rem-calc(8);
//			}
//		}
//
//		#twitter {
//			:before {
//				content: "\f099";
//				font-family: FontAwesome;
//				font-style: normal;
//				font-weight: normal;
//				text-decoration: inherit;
//				color: #B4C9D1;
//				margin-right: rem-calc(8);
//			}
//		}
//
//	}
//
//	.tagline {
//
//		@include breakpoint(small) {
//			@include grid-column(8);
//		}
//
//		@include breakpoint(medium) {
//			@include grid-column(5);
//			padding-top: 6rem;
//		}
//
//	}
//
//	h1 {
//		color: #fff;
//		font-weight: 500;
//
//		@include breakpoint(small) {
//			font-size: 2.2rem;
//		}
//
//		@include breakpoint(medium) {
//			font-size: 2.875rem;
//		}
//
//	}
//
//	h4 {
//		color: #fefefe;
//		font-weight: 300;
//		font-size: 1.3125rem;
//	}
//
//	.download { margin-top: rem-calc(20); }
//
//}
//
//// Intro
//.intro {
//	@include grid-row();
//
//	.fp-intro {
//
//		@include breakpoint(small) {
//			@include grid-column(12);
//		}
//
//		@include breakpoint(medium) {
//			@include grid-column(10);
//			@include grid-column-offset(1);
//
//			h2 {
//				font-weight: 300;
//				margin-bottom: 1.5rem;
//			}
//
//			h4 {
//				font-size: 1.125rem;
//				line-height: 1.6;
//				color: #777;
//				margin-bottom: 2rem;
//			}
//
//		}
//	}
//}
//
//// Section divider
//.section-divider {
//	@include grid-row();
//
//	hr {
//		@include grid-column(12);
//		@extend .dotted;
//		box-sizing: border-box;
//	}
//}
//
//
//// Benefits
//.benefits {
//	@include grid-row();
//	text-align: center;
//
//	header {
//		@include grid-column(12);
//
//		h2 {
//			font-weight: 300;
//		}
//
//		h4 {
//			font-size: 1.125rem;
//			line-height: 1.6;
//			color: #777;
//		}
//	}
//
//	.semantic,
//	.responsive,
//	.customizable,
//	.professional {
//		@include breakpoint(small) {
//			@include grid-column(12);
//		}
//
//		@include breakpoint(medium) {
//			@include grid-column(3);
//		}
//
//		img {
//			padding: 1.25rem;
//    	margin: 1rem auto 0 auto;
//		}
//
//		h3 {
//			color: #0a0a0a;
//			font-weight: 300;
//			font-size: 1.75rem;
//		}
//
//		p { font-size: 0.9375rem; }
//
//	}
//
//	.why-foundation {
//		@include grid-row();
//		@include grid-column(12);
//		margin-top: 4rem;
//	}
//
//}
