//breadcrumbs

.event-breadcrumb {
   @include breakpoint('large') {
     margin-right: 25%;
   }
}

//HEADER

.event-header {
  border-bottom: rem-calc(1px) solid $light-gray;
  margin-bottom: rem-calc(5);

  @include breakpoint('large') {
    margin-left: rem-calc(76);
    margin-right: rem-calc(100);
    max-width: rem-calc(760);
    padding: 0 rem-calc(20);
  }
}

.event-header__thumbnail {
  display: block;
  float: left;
  height: rem-calc(105);
  margin: rem-calc(-5) rem-calc(20) rem-calc(40) rem-calc(-5);
  overflow: hidden; //hides overflowing label
  padding: rem-calc(5) 0 0 rem-calc(5);
  position: relative;
  width: rem-calc(105);
  .wp-post-image {
    position: relative;
    z-index: 1;
  }

  @include breakpoint(500px) {
    height: rem-calc(205);
    width: rem-calc(205);
  }
}

.event-header__thumbnail__new-flag,
.event-header__thumbnail__course-type {
  position: absolute;
  z-index: 2;
}

.event-header__thumbnail__new-flag {
  background-color: #F5A623;
  font-size: rem-calc(14);
  height: rem-calc(56);
  left: rem-calc(-33);
  padding-top: rem-calc(30);
  text-align: center;
  text-transform: uppercase;
  top: rem-calc(-12);
  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
  width: rem-calc(99);
}

.event-header__thumbnail__course-type {
  bottom: 0;
  height: rem-calc(40);
  right: 0;
  width: rem-calc(40);
}

.single-event {
  .page-title {
    line-height: 1.2;
  }
}

.event-header__date-range {
  margin-bottom: 0.1em;
}

.event-header__location {
  margin-bottom: rem-calc(30);
}

//side blocks
.event-side-block {
  margin-left: auto;
  margin-right: auto;
  max-width: rem-calc(720);
  @include breakpoint('large') {
    margin-left: 0;
    margin-right: 0;
    max-width: none;
  }
}

.event-side-block__section {
  padding-left: rem-calc(5);
  border-bottom: rem-calc(1) solid $light-gray;
  margin-bottom: rem-calc(15);
}


//Deadlines
.event-deadlines-register {
  clear: both;
  float: none;
  padding-top: rem-calc(30);
  @include breakpoint('large') {
    clear: none;
    float: right;
    padding-top: rem-calc(60);
  }
}

.single-event {
  .event-deadlines {

    @include breakpoint('large') {
      span {
        display: block;
      }
    }
  }
}

//register button

.event-register-button {
  font-family: $header-font-family;
  font-size: rem-calc(18);
  padding-bottom: rem-calc(17);
  padding-top: rem-calc(17);
  margin-bottom: rem-calc(35);
  max-width: rem-calc(280);
  text-transform: uppercase;
  width: 100%;
}

//sub-heading

.single-event {
  .component-sub-heading {
    padding-top: rem-calc(20);
  }
}