.course-types-list {
  border-bottom: rem-calc(1) solid $light-gray;
  border-top: rem-calc(1) solid $light-gray;
  font-weight: 400;
  margin-bottom: rem-calc(20);
  padding: rem-calc(15) rem-calc(20) rem-calc(20);
  text-align: center;
}

.course-types-list__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
  }
}