@import url("https://fast.fonts.net/t/1.css?apiType=css&projectid=d50f999f-128c-456f-ab94-669529e3a1bc");
@font-face {
  font-family:"futura-light";
  src: url("../fonts/futura/bf74a9d0-0954-467f-abf2-269d642a34e6.eot?#iefix");
  src: url("../fonts/futura/bf74a9d0-0954-467f-abf2-269d642a34e6.eot?#iefix") format("eot"),
       url("../fonts/futura/65ebef59-02fa-4697-bd6a-b9c18fbae1cd.woff2") format("woff2"),
       url("../fonts/futura/bb6e42eb-bc30-4c8a-b4ee-bdba1631f178.woff") format("woff"),
       url("../fonts/futura/7c212380-c01a-48df-b253-606f78f6c4db.ttf") format("truetype"),
       url("../fonts/futura/a585fe69-b36b-45e2-ab89-5f0fb2f702e4.svg#a585fe69-b36b-45e2-ab89-5f0fb2f702e4") format("svg");
}
@font-face {
  font-family:"futura-light-italic";
  src: url("../fonts/futura/4263004d-f836-4bd8-ac24-154d91379c6a.eot?#iefix");
  src: url("../fonts/futura/4263004d-f836-4bd8-ac24-154d91379c6a.eot?#iefix") format("eot"),
       url("../fonts/futura/bef16c6c-ebd0-4d66-8c46-3094b25d31d8.woff2") format("woff2"),
       url("../fonts/futura/f3a29921-2598-4736-8d53-8245538e34d8.woff") format("woff"),
       url("../fonts/futura/61367821-83d1-4768-9cd3-16a1d71e6e9a.ttf") format("truetype"),
       url("../fonts/futura/469d02e0-4e47-4110-8061-1a8bd3e61cf9.svg#469d02e0-4e47-4110-8061-1a8bd3e61cf9") format("svg");
}
@font-face {
  font-family:"futura-medium";
  src: url("../fonts/futura/7ed1bebb-81a9-4c57-9513-f0538c1b83fc.eot?#iefix");
  src: url("../fonts/futura/7ed1bebb-81a9-4c57-9513-f0538c1b83fc.eot?#iefix") format("eot"),
       url("../fonts/futura/9fb69c26-4303-492d-8121-d3af0a6112fc.woff2") format("woff2"),
       url("../fonts/futura/ddc0f223-a296-451a-8681-ad80508eb419.woff") format("woff"),
       url("../fonts/futura/c18fc865-7a4e-45d9-bbb0-4e4553cc4136.ttf") format("truetype"),
       url("../fonts/futura/71710047-b807-47eb-9874-7db8f4904492.svg#71710047-b807-47eb-9874-7db8f4904492") format("svg");
}
@font-face {
  font-family:"futura-medium-italic";
  src: url("../fonts/futura/80aeba20-efa4-4aea-9dff-fe3d6e9b25db.eot?#iefix");
  src: url("../fonts/futura/80aeba20-efa4-4aea-9dff-fe3d6e9b25db.eot?#iefix") format("eot"),
       url("../fonts/futura/c3e9faf3-8e1c-40d6-b445-4f55b7152a84.woff2") format("woff2"),
       url("../fonts/futura/b25a4ccb-ae7a-4b19-85fc-f4ca88c5cd26.woff") format("woff"),
       url("../fonts/futura/9ef2e85e-4a0e-4825-8f02-a2b708f8c6e7.ttf") format("truetype"),
       url("../fonts/futura/af8eb763-2580-4c12-831c-6a1e9093df52.svg#af8eb763-2580-4c12-831c-6a1e9093df52") format("svg");
}
@font-face {
  font-family:"futura-medium-bold";
  src: url("../fonts/futura/63107fe9-e6e4-4922-aed4-736f170601c8.eot?#iefix");
  src: url("../fonts/futura/63107fe9-e6e4-4922-aed4-736f170601c8.eot?#iefix") format("eot"),
       url("../fonts/futura/70cd4257-15ef-421c-b474-8c9bed8e66b0.woff2") format("woff2"),
       url("../fonts/futura/970a093d-098a-4d5b-b6f0-c2d682e95d80.woff") format("woff"),
       url("../fonts/futura/7c099bd1-482c-4c64-a5d3-9b934633ab10.ttf") format("truetype"),
       url("../fonts/futura/8035e4db-50ea-40ea-b561-a085035ef25e.svg#8035e4db-50ea-40ea-b561-a085035ef25e") format("svg");
}
@font-face {
  font-family:"futura-medium-bold-italic";
  src: url("../fonts/futura/18951f5e-5d2c-4b6c-958c-2da4c00c3ad7.eot?#iefix");
  src: url("../fonts/futura/18951f5e-5d2c-4b6c-958c-2da4c00c3ad7.eot?#iefix") format("eot"),
       url("../fonts/futura/6d12899d-1afb-423e-b935-2431c10c5bab.woff2") format("woff2"),
       url("../fonts/futura/8badd371-f1d8-4c51-8541-8613b344b66d.woff") format("woff"),
       url("../fonts/futura/12ae2064-24d9-471d-b666-13830ada754e.ttf") format("truetype"),
       url("../fonts/futura/cdaded8c-3e0d-409c-b604-a4b481e59168.svg#cdaded8c-3e0d-409c-b604-a4b481e59168") format("svg");
}
