//@import url("https://fast.fonts.net/t/1.css?apiType=css&projectid=d50f999f-128c-456f-ab94-669529e3a1bc");

// Apercu, 300
@font-face {
  font-family:"web-apercu";
  src: url("../fonts/apercu/apercu-light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

// Apercu, 300 italic
@font-face {
    font-family:"web-apercu";
    src: url("../fonts/apercu/apercu-light-italic.woff2") format("woff2");
    font-weight: 300;
    font-style: italic;
}

// Apercu, 400
@font-face {
    font-family:"web-apercu";
    src: url("../fonts/apercu/apercu-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

// Apercu, 700
@font-face {
    font-family:"web-apercu";
    src: url("../fonts/apercu/apercu-bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

// Apercu Mono, 400 (headings)
@font-face {
    font-family:"web-apercu-mono";
    src: url("../fonts/apercu/apercu-mono-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}