.sidebar {

    @include breakpoint(large) {

        padding-left: rem-calc(40);
        padding-right: rem-calc(24);

    }


    .side-menu-container {
        h6 {
            a, a:visited {
                color: $body_font_color;
            }
        }
    }
    .menu {

        li {

            display: block;
            &.h6 {
                padding-top: rem-calc(5);
                a, a:visited {
                    padding: 0;
                    color: $body-font-color;
                }
            }

        }

        a {

            padding-left: 0;

        }

    }


}


.widget_categories {

    ul {

        list-style: none;
        margin: 0;

    }

    li {

        padding-left: 0;

    }

    a {

        display: block;
        line-height: rem-calc(18);
        padding: rem-calc(10);
        padding-left: 0;

    }

}
