.sidebar {

    @include breakpoint(large) {

        padding-left: rem-calc(40);
        padding-right: rem-calc(24);
        padding-top: rem-calc(55);

    }


    .side-menu-container {
        h6 {
            a, a:visited {
                color: $body_font_color;
            }
        }
    }
    .menu {

        li {

            display: block;
            &.h6 {
                padding-top: rem-calc(5);
                a, a:visited {
                    padding: 0;
                    color: $body-font-color;
                }
            }

        }

        a {

            padding-left: 0;
            text-decoration: none;

        }

    }


}

.widget {
    overflow: hidden;
    margin-bottom: rem-calc(40);
}

.widget__title {
    font-family: $header-font-family;
    font-size: rem-calc(16);
    line-height: rem-calc(24);
    text-transform: uppercase;
    @include breakpoint('medium') {
        font-size: rem-calc(18);
        line-height: rem-calc(26);
    }
}

.widget_categories {

    ul {

        list-style: none;
        margin: 0;

    }

    li {

        padding-left: 0;

    }

    a {

        display: block;
        line-height: rem-calc(18);
        padding: rem-calc(10);
        padding-left: 0;

    }

}
