

.component-testimonial {

    margin-bottom: rem-calc(58);

}


.component-testimonial__inner {

    background: #333333;
    padding: rem-calc(50, 20);
    text-align: center;

}


.component-testimonial__testimonial {

    color: #FFFFFF;
    font-family: 'futura-medium', Helvetica, Roboto, Arial, sans-serif;
    font-size: rem-calc(18);
    line-height: rem-calc(27);
    margin: 0 0 rem-calc(18) 0;

    @include breakpoint(medium) {
        font-size: rem-calc(24);
        line-height: rem-calc(32);
    }
    @include breakpoint(large) {

        padding: 0 rem-calc(118);

    }

}


.component-testimonial__author {

    color: #CCCCCC;
    font-family: 'futura-medium', Helvetica, Roboto, Arial, sans-serif;
    font-size: rem-calc(18);
    line-height: rem-calc(27);
    margin: 0;

}
