.breadcrumbs {


    li {

        font-family: 'web-apercu', Helvetica, Roboto, Arial, sans-serif;
        line-height: (12/14);
        text-transform: none;
        font-weight: 400;

    }


    // unfortunately the specificity is required to override
    // the foundation defaults
    li:not(:last-child)::after {

        color: #333333;
        top: 0;

    }

    
    a {
        
        &:hover {

            color: #333333;
            text-decoration: none;
            
        }
        
    }


}
