.component-clients {

    text-align: center;

}


.clients-list {
    text-align: center;

    list-style: none;
    margin: 0;
    padding: rem-calc(30) 0;

    border-top: rem-calc(1) solid $light-gray;
    border-bottom: rem-calc(1) solid $light-gray;

}


.client-item {

    //height: rem-calc(120);
    display: inline-block;
    vertical-align: middle;
    float: none;
}


.client-item__inner {

    //border: 1px solid #E5E5E5;
    display: inline-block;
    //height: 100%;
    padding: rem-calc(10);

    text-align: center;

    &:before {
        display: inline-block;
        vertical-align: center;
        width: 0;
        height: rem-calc(100);
    }

    img {

        display: inline-block;
        vertical-align: middle;
        margin: 0 auto;

        max-height: rem-calc(100);

    }

}

a.client-item__inner {
    width: 100%;
}

//side sponsors
.component-side-sponsors {
    h6 {
        color: #666666;
        font-family: $body-font-family;
        font-size: rem-calc(14);
        line-height: 1.2em;
    }
    .clients-list {
        border: none;
        padding: 0 0 rem-calc(10) 0;
    }

    .client-item__inner {
        img {
            max-height: rem-calc(80);
        }
    }

    @include breakpoint('large') {
        .clients-list {
            text-align: left;
            li {
                display: block;
            }
        }

        .client-item__inner {
            text-align: left;
            padding-left: 0;
        }
    }
}
