.accordion {
  margin-left: 0;
  li {
    margin: 0 0 rem-calc(5);
    padding: 0;
  }
}

.accordion-title {
  @extend h5;
  font-size: rem-calc(18);
  line-height: rem-calc(21);
  background-color: $light-gray;
  margin-bottom: 0;
  text-decoration: none;
  &:before {
    color: $primary-color;
  }
  &:focus {
    background-color: $light-gray;
  }
}

.accordion-content {
  overflow: hidden;
  border-bottom: rem-calc(1) solid $light-gray;
}

//nested components
.accordion-content {
  .component {
    max-width: none;
    margin-left: 0;
    margin-right: 0;
  }
}