.accordion {
  margin-left: 0;
  li {
    margin: 0 0 rem-calc(5);
    padding: 0;
  }
}

.accordion-title {
  @extend h5;
  font-size: rem-calc(18);
  line-height: rem-calc(21);
  background-color: $light-gray;
  border: rem-calc(1) solid $light-gray;
  margin-bottom: 0;
  text-decoration: none;

  &:before {

    color: $primary-color;
    content: " ";
    width: rem-calc(15);
    height: rem-calc(15);
    background-image: url('../images/collapsibles-plus.svg');
    background-size: rem-calc(15) rem-calc(15);
  }

  &:focus {
    background-color: $white;
  }
}

.is-active > .accordion-title {

  border-bottom: 0;

  &:before {

    background-image: url('../images/collapsibles-minus.svg');
    content: " ";

  }

}

.accordion-content {
  overflow: hidden;
  border-bottom: rem-calc(1) solid $light-gray;
}

//nested components
.accordion-content {
  .component {
    width: auto;
    max-width: none;
    margin-left: 0;
    margin-right: 0;
  }
}