.component-teasers {
  overflow: hidden; //clear floats
  margin-bottom: 0;
}

.component-teasers__teaser {
  padding: 0 rem-calc(10) rem-calc(40) rem-calc(10);
}

.component-teasers__teaser__thumbnail-wrapper {
  width: 100%;
  padding-top: 73.3333%;
  position: relative;
  overflow: hidden;
  a {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  img {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    max-width: none;

    left: rem-calc(-9999);
    right: rem-calc(-9999);
    top: rem-calc(-9999);
    bottom: rem-calc(-9999);
    margin: auto;
  }
}

.component-teasers__teaser__text-wrapper {
  background-color: $light-gray;
  font-size: rem-calc(16);
  padding: rem-calc(20) rem-calc(10) rem-calc(57);
  position: relative;
  .component-teasers__read-more {
    display: block;
    position: absolute;
    bottom: rem-calc(30);
    left: rem-calc(10);
  }

  @include breakpoint('medium') {
    padding: rem-calc(20) rem-calc(20) rem-calc(60);
    .component-teasers__read-more {
      left: rem-calc(20);
    }
  }
}

.component-teasers--1 {
  position: relative;
  .component-teasers__teaser__text-wrapper {
    font-size: rem-calc(18);
  }

  @include breakpoint(480px) {
    .component-teasers__teaser__thumbnail-wrapper {
      width: 50%;
      padding: 0;
      position: absolute;
      top: 0;
      left: 0;
      bottom: rem-calc(40);
    }
    .component-teasers__teaser__text-wrapper {
      min-height: rem-calc(240);
      width: 50%;
      margin-left: 50%;
    }
  }
}

.component-teasers--2 {
  @include breakpoint(550px) {
    .component-teasers__teaser {
      width: 50%;
      float: left;
    }
  }

  @include breakpoint('large') {
    .component-teasers__teaser {
      position: relative;
      .component-teasers__teaser__thumbnail-wrapper {
        width: 50%;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        bottom: rem-calc(40);
      }
      .component-teasers__teaser__text-wrapper {
        min-height: rem-calc(240);
        width: 50%;
        margin-left: 50%;
      }
    }
  }
}

.component-teasers--3 {
  @include breakpoint(550px) {
    .component-teasers__teaser {
      width: 50%;
      float: left;
    }
  }

  @include breakpoint(1000px) {
    .component-teasers__teaser {
      width: percentage(1/3);
    }
  }
}