
.cta-group-items {
    margin-left: rem-calc(-10) !important;
    margin-right: rem-calc(-10) !important;
    padding-left: 0;
    padding-right: 0;

}

.cta-item {

    padding: rem-calc(10);
    position: relative;
    height: rem-calc(160);

}

.cta-item--full {
}

.cta-item__picture-wrapper {
    position: absolute;
    top: rem-calc(10);
    right: rem-calc(10);
    bottom: rem-calc(10);
    left: rem-calc(10);
    z-index: 1;
    overflow: hidden; //hide bits of images that overflow
    opacity: 0.1;
}

.cta-item__image {

    opacity: 1;

    position: absolute;
    top: rem-calc(-9999);
    right: rem-calc(-9999);
    bottom: rem-calc(-9999);
    left: rem-calc(-9999);
    margin: auto;

    min-width: 100%;
    min-height: rem-calc(220);

    max-width: none;

    width: auto;
    height: auto;

}

.cta-item__link {

    bottom: rem-calc(10);
    font-family: 'web-apercu-mono', Helvetica, Roboto, Arial, sans-serif;
    font-size: rem-calc(18);
    left: rem-calc(10);
    position: absolute;
    right: rem-calc(10);
    text-align: center;
    text-transform: uppercase;
    padding: 0 rem-calc(20);
    top: rem-calc(10);
    background-color: rgba($secondary-color, 0.3);
    color: $black;
    z-index: 2;
    &:hover {
        background-color: rgba($secondary-color, 1);
        color: $body-font-color;
    }

    &:before {
        content: '';
        width: 0;
        // hack to center align text
        height: rem-calc(140);
        display: inline-block;
        vertical-align: middle;
    }

    // vertically align the text to the middle of the CTA

    span {

        display: inline-block;
        vertical-align: middle;

        &:after {

            content: " ";
            display: inline-block;
            background: url('../images/cta-chevron.svg') no-repeat;
            background-size: rem-calc(11) rem-calc(16);
            width: rem-calc(11);
            height: rem-calc(16);
            vertical-align: text-top;
            margin-left: 0.5rem;

        }

    }

}

//     background-image: url('../images/next_arrow.svg');
