
.cta-group-items {
    margin-left: rem-calc(-10) !important;
    margin-right: rem-calc(-10) !important;
    padding-left: 0;
    padding-right: 0;

}


.cta-item {

    padding: rem-calc(10);
    position: relative;
    height: rem-calc(240);

}


.cta-item--full {
}

.cta-item__picture-wrapper {
    position: absolute;
    top: rem-calc(10);
    right: rem-calc(10);
    bottom: rem-calc(10);
    left: rem-calc(10);
    z-index: 1;
    overflow: hidden; //hide bits of images that overflow
}


.cta-item__image {

    opacity: 1;

    position: absolute;
    top: rem-calc(-9999);
    right: rem-calc(-9999);
    bottom: rem-calc(-9999);
    left: rem-calc(-9999);
    margin: auto;

    min-width: 100%;
    min-height: rem-calc(220);

    max-width: none;

    width: auto;
    height: auto;

}


.cta-item__link {

    bottom: rem-calc(10);
    font-family: 'futura-medium-bold', Helvetica, Roboto, Arial, sans-serif;
    font-size: rem-calc(22);
    left: rem-calc(10);
    position: absolute;
    right: rem-calc(10);
    text-align: center;
    text-transform: uppercase;
    top: rem-calc(10);
    background-color: rgba(255, 255, 255, 0.7);
    color: $body-font-color;
    z-index: 2;
    &:hover {
        background-color: rgba(95, 37, 159, 0.7);
        color: $white;
    }

    &:before {
        content: '';
        width: 0;
        height: rem-calc(220);
        display: inline-block;
        vertical-align: middle;
    }

    // vertically align the text to the middle of the CTA

    span {

        display: inline-block;
        vertical-align: middle;

    }

}


//     background-image: url('../images/next_arrow.svg');
