.component-download {
    overflow: hidden; //clears floats

    background-color: $primary-color;
    color: $white;
    padding: rem-calc(30);

}


.component-download__content {}


/* a */
.component-download__thumblink {

    //max-height: rem-calc(324);
    max-width: rem-calc(285);

    display: block;
    margin: 0 auto rem-calc(30) auto;

    img {

        width: 100%;
        height: auto;

    }

    @include breakpoint(large) {

        //max-width: rem-calc(285);
        margin: 0 0 rem-calc(30) rem-calc(30);
        float: right;

    }

}

.component-download__link,
.component-download__heading {

    color: $white;

}

.component-download__heading,
.component-newsletter__title {

    font-size: rem-calc(22);
    line-height: (27/22);

}

.front-newsletter-and-download {

    .row {
        padding: 0;
        margin-left: rem-calc(-10);
        margin-right: rem-calc(-10);
    }
    .columns {
        padding: 0 rem-calc(10) 0 rem-calc(10);
    }

    .component-newsletter,
    .component-download {

        @include breakpoint(large) {

            //clear: none;
            //float: left;
            //width: 50%;
        }

    }

}

.component-download--slim__link {

    display: inline-block;

    background: url(../images/pdf_icon.svg) no-repeat center left;
    padding: rem-calc(9) rem-calc(15) rem-calc(10) rem-calc(50);

}

.accordion-content .offset-content {

    margin-left: auto;
    margin-right: auto;

}