.hero-container {

    border-bottom: 1px solid #E5E5E5;

    .row {

        padding-left: 0;
        padding-right: 0;

        max-width: rem-calc(1280);

    }

    h1 {

        font-family: 'web-apercu-mono', Helvetica, Roboto, Arial, sans-serif;

    }

}


.menu.hero-list {

    li {

        margin-right: 0;

    }

}
