/* Apply outline styles only when input method is keyboard
 * remove :focus style via What Input using progressive enhancement
 * so :focus isn't left broken if JavaScript fails
 */
[data-whatinput="mouse"] a:focus, button:focus
[data-whatinput="touch"] a:focus, button:focus {
  outline: none;
}

a {
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-weight: 400;
  text-decoration: underline;

  // If this is the parent
  h1 &, h2 &, h3 &, h4 &, h5 &, h6 & {

    text-decoration: none;

  }
}