
.main-menu {


    @include breakpoint(large) {

        margin-top: rem-calc(87);

    }


    li:first-child {

        a {

            @include breakpoint(medium down) {

                padding-left: 0;

            }

        }

    }


    li:last-child {

        a {

            padding-right: 0;

        }

    }


    a {

        //color: #CB2C30;
        font-family: 'web-apercu', Helvetica, Roboto, Arial, sans-serif;
        font-weight: 400;
        font-size: rem-calc(18);
        padding: rem-calc(8 10);
        text-decoration: none;

        &:hover {

            color: #000;

        }

    }

    // unfortunately necessary to trump the specificity in Foundation
    > li {

        > a {

            padding: rem-calc(8 10);

        }

    }

    .menu-item--search {

        a {

            padding: rem-calc(6 0 6 8);
            width: rem-calc(26);
            height: rem-calc(30);
            //background-image: url('../images/magnifier-hover.svg');
            //background-position: rem-calc(8) rem-calc(6);
            //-webkit-background-size: rem-calc(18) rem-calc(18);
            //background-size: rem-calc(18) rem-calc(18);
            //background-repeat: no-repeat;
            img {
                //width: rem-calc(18);
                //height: rem-calc(18);
            }
            &:hover {
                img {
                    //width: 0;
                    //height: 0;
                }
            }
        }

    }


}
