.latest-news-list {
    margin-bottom: rem-calc(40);
    overflow: hidden;
    @include breakpoint(medium) {
        margin-left: rem-calc(-10);
        margin-right: rem-calc(-10);

        padding-left: rem-calc(30);
    }
}

.latest-news-item {
    .content-item__visual {
        padding: 0;
    }
    .news-item__image {
        float: none;
        img {
            display: block;
            width: 100%;
        }
    }
    @include breakpoint('medium') {
        //padding: 0 rem-calc(10);
        padding: 0 rem-calc(10) 0 0;
    }
}

.news-and-flexible-content {

    padding: 0;
    margin-left: rem-calc(-10) !important;
    margin-right: rem-calc(-10) !important;

    .columns {
        padding: 0 rem-calc(10) 0 rem-calc(10);
    }

}

.latest-news-item {

    border-bottom: 1px solid $light-gray;

    padding-bottom: rem-calc(20) !important;

    + .latest-news-item {

        margin-top: rem-calc(20);

    }

    @include breakpoint('medium') {

    }

}

.latest-news-item .news-item__excerpt {

    margin-bottom: 0;

}

.news-item__excerpt {

    margin-bottom: rem-calc(10);

}

.section-heading--video {

    display: none;

}

.latest-news__heading {

    font-size: rem-calc(24);
    line-height: (36/24);
    padding-left: rem-calc(30);

}

.news-and-flexible-content .section-heading--video {

    display: block;
    font-size: rem-calc(24);
    line-height: (36/24);
    padding-left: rem-calc(30);

}