.component-newsletter{

  //background-color: $light-gray;
  background: $super-light-gray url('../images/gem.svg') no-repeat bottom 30px right -50px;
  background-size: rem-calc(300) rem-calc(211);
  color: $black;

  padding: rem-calc(30) rem-calc(30) 0 rem-calc(30);

  overflow: hidden;
  label {
    //color: $light-gray;
    margin-bottom: rem-calc(5);
  }

  h1, h2, h3, h4, h5, h6,
  a, a:visited {
    color: $primary-color;
  }
  a:hover {

    color: $black;

  }
  .button,
  button,
  input[type="submit"] {
    background-color: $secondary-color;
    color: $body-font-color;

    &:hover {

      background-color: $black;
      color: $white;

    }

  }

  form {
    margin-bottom: rem-calc(30);
  }

  form p {
    margin-bottom: rem-calc(20);
  }

  input {
    max-width: rem-calc(355);
  }

  .component-newsletter__title {
    @include breakpoint(medium) {
      font-size: rem-calc(22);
      line-height: rem-calc(26);
    }
  }

  .component-newsletter__archive-link {
    display: inline-block;
    //padding-left: rem-calc(20);
    //background-image: url('../images/next_newsletter.svg');
    //background-repeat:no-repeat;
    //background-position: 0 center;
    //-webkit-background-size: rem-calc(10) rem-calc(15);
    //background-size: rem-calc(10) rem-calc(15);
  }
}