.component-video {
    //padding: 0 rem-calc(10);
    margin-bottom: rem-calc(20);
}

.component-video__content {

    padding-left: rem-calc(30);

}

.component-video__heading {

    font-size: rem-calc(22);
    line-height: (26/22);

}